*,*::before,*::after{
  padding: 0;
  margin: 0;
}

html,body{
  height: 100%;
  width: 100%;
}

body{
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
}

i{
  color: #5300c0;
  font-size: 7rem;
  transition: all .3s ease-out;
}

i:active{
  color: #f80c48;
}

.controls{
  width: 21rem;
  height: 21rem;
  /* background-color: #000; */
}

.controls__top{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 7rem;
}

.controls__mid{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 7rem;
}

.controls__bottom{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 7rem;
}

.controls__stop{
  display: block;
  width: 7rem;
  height: 7rem;
  border-radius: 100%;
  background-color: #5300c0;
  transition: all .3s ease-out;
}

.controls__stop:active{
  background-color: #f80c48;
}