@charset "UTF-8";

@font-face {
  font-family: "controls";
  src:url("fonts/controls.eot");
  src:url("fonts/controls.eot?#iefix") format("embedded-opentype"),
    url("fonts/controls.woff") format("woff"),
    url("fonts/controls.ttf") format("truetype"),
    url("fonts/controls.svg#controls") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "controls" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "controls" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-down:before {
  content: "\61";
}
.icon-left:before {
  content: "\62";
}
.icon-right:before {
  content: "\63";
}
.icon-up:before {
  content: "\64";
}
